<div class="grid-container" style="margin-top: 50px;">
	<div class="grid-x">
		<div class="cell small-12 text-center">
			<img src="https://res.cloudinary.com/thypowerhouse/image/upload/v1538689076/fetch/fetch.png" alt="Fetch logo" width="180">
		</div>

		<div class="cell small-12 text-center" style="margin-top:40px;">
			<div>
			<form action="<%= go_fetch_start_yellow_pages_australia_path %>" method="get">
				<div class="grid-x grid-margin-x">
					<div class="cell small-12 medium-4">
						<input id="service" name="service" type="text" placeholder="Service" >
					</div>
					<div class="cell small-12 medium-4">
						<input id="location" name="location" type="text" placeholder="Location" >
					</div>
					<div class="cell small-12 medium-4">
						<button type="submit" class="button large primary expanded">GO FETCH</button>
					</div>
				</div>
				
			</form>
			</div>

		</div>

	</div>
</div>


